*{
    background-color: rgb(253, 251, 251);
}
/* deixando nossa barra fixa*/
header{
    position: fixed;
    top:0;
}
nav ul li{
    text-align: center;
    display: inline-block;
}
/*ul{
    list-style: circle;
}*/

#minha_foto{
    margin-top: 10%;    
    width: 200px;
}
#licoes_aprendidas{
    margin-right: 3%;
    
}
#licoes_a_aprender{     
    width: 7%;  
}
a{
    margin-left: 20%;
}
footer{
   margin:2%;
}
